body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.board {
  margin: 0 auto;
  width: 480px;
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.square {
  width: 150px;
  height: 150px;
  margin: 4px;
  font-size: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #cbb4d4;
  color: #240b36;
}